<!doctype HTML>
<html>
    <body dir="rtl">
        <form method="POST" action="{{ url_for('newvideo') }}">
            {{ form.csrf_token }}
            <p>
                نام<br>
                {{ form.name }} <br /><br /><br />
                نوع<br /><br />
                {{ form.video_type }}<br />
                آدرس<br />
                {{ form.address }}<br /><br />
                تصویر <br />
                {{ form.thumbnail }}<br /><br />
                خلاضه <br />
                {{ form.digest }}
            </p>
            <p>
                <input type="submit" value="بزن بریم">
            </p>
        </form>
        <br />
        <a href="{{ url_for('adminterminal') }}"> admin </a>
    </body>
</html>