<!doctype HTML>
<html>
    <body dir="rtl">
        <form method="POST" action="{{ url_for('newvideo') }}">
            {{ form.csrf_token }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name }} <br /><br /><br />
                متن<br /><br />
                {{ form.video_type }}<br />
                تاریخ<br />
                {{ form.address }}<br /><br />
            </p>
            <p>
                <input type="submit" value="بزن بریم">
            </p>
        </form>
    </body>
</html>