{% extends "_blog.html" %}
{% block content %}
{% for post in posts %}
    {% if 'text' in post.subject %}
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>تست ۱</h2>
				<p>{{ post.digest|safe }}</p>
				<a href="{{ url_for('viewpost', post_number = post.postid ) }}" class="cd-read-more"> more </a>
                {% if 'logged_in' in session %}
                    <a href="{{ url_for('deleteposts', postid = post.postid ) }}" class="cd-read-more"> پاک کردن</a>
                {% endif %}
				<span class="cd-date">{{ post.date }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
    {% endif %}
    {% if 'video' in post.subject %}
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="img/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Title of section 2</h2>
				<p>{{ post.digest|safe }}</p>
				<a href="{{ url_for('viewpost', post_number = post.postid ) }}" class="cd-read-more">Read more</a>
				<span class="cd-date">{{ post.date }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
    {% endif %}
    {% if 'imagetext' in post.subject %}
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Title of section 2</h2>
				<p>{{ post.digest|safe }}</p>
				<a href="{{ url_for('viewpost', post_number = post.postid ) }}" class="cd-read-more">Read more</a>
				<span class="cd-date">{{ post.date }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
    {% endif %}
{% endfor %}
{% endblock %}

