{% extends "_blog.html" %}
{% block content %}
{% for post in posts %}
    {% if 'text' in post.subject %}
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<span class="fa fa-file-text"></span>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>{{ post.header|safe }}</h2>
				<p>{{ post.digest|safe }}</p>
				<a href="{{ url_for('viewpost', post_number = post.postid ) }}" class="cd-read-more" lang="fa"> ادامه متن </a>
                {% if 'logged_in' in session %}
                    <a href="{{ url_for('deleteposts', postid = post.postid ) }}" class="cd-read-more" lang="fa"> پاک کردن</a>
                {% endif %}
				<span class="cd-date" lang="fa">{{ post.date }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
    {% endif %}
    {% if 'video' in post.subject %}
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<span class="fa fa-youtube-play"></span>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>{{ post.header|safe }}</h2>
				<p>{{ post.digest|safe }}</p>
				<a href="{{ url_for('viewpost', post_number = post.postid ) }}" class="cd-read-more" lang="fa">مشاهده ویدیو</a>
				<span class="cd-date" lang="fa">{{ post.date }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
    {% endif %}
    {% if 'imagetext' in post.subject %}
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<span class="fa fa-file-image-o"></span>
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>{{ post.header|safe }}/h2>
				<p lang="fa">{{ post.digest|safe }}</p>
				<a href="{{ url_for('viewpost', post_number = post.postid ) }}" class="cd-read-more" lang="fa">Read more</a>
				<span class="cd-date" lang="fa">{{ post.date }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
    {% endif %}
{% endfor %}
{% endblock %}

