<!doctype HTML>
<html>
    <body dir="rtl">
        <form method="POST" action="{{ url_for('editposts') }}">
            {{ form.csrf_token }}
            <p>
                {{ form.header.label }}<br>
                {{ form.header }} <br /><br /><br />
                {{ form.subject.label }}<br />
                {{ form.subject}}<br />
                {{ form.body.label}}<br />
                {{ form.body(cols=50, rows=10)}}<br />
                {{ form.digest.label }}<br />
                {{ form.digest }}
            </p>
            <p>
                <input type="submit" value="login">
            </p>
        </form>
        <br />
        <a href="{{ url_for('adminterminal') }}"> admin </a>
    </body>
</html>