<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=NO">
	<meta charset='UTF-8' />
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/projectsstyle.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.ferro.ferroMenu.css') }}" />
	<style type="text/css">
		@font-face { 
			font-family: "sample";
			src: url("{{ url_for('static', filename='fonts/sample.ttf') }}") format("truetype");
		}
	</style>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-1.11.3.min.js') }}"></script>
</head>
<body>
	<section>
		<ul id="nav">
			<li><a href="{{ url_for('about') }}"><i class="fa fa-user"></i></a></li>
			<li><a href="{{ url_for('projects') }}"><i class="fa fa-rocket"></i></a></li>
			<li><a href="{{ url_for('vlog') }}"><i class="fa fa-video-camera"></i></a></li>
			<li><a href="{{ url_for('blog') }}"><i class="fa fa-pencil"></i></a></li>
		</ul>	
	<article>
	<div id="firstpage">
		<div id="text">
			{% for project in last_project %}
				<h1 dir="rtl">پروژه ها</h1>
				<h6 dir="rtl"> پروژه شماره {{ project.project_id }}</h6>
				<h3 dir="rtl"> {{ project.subject }}</h3>
				{% if 'logged_in' in session %}
					<a href="{{ url_for('endproject', projectid= project.project_id )}}">done!</a>
				{% endif %}
				<div dir="rtl" id="discription">
				<p>{{ project.discription }}</p>
				</div>
			{% endfor %}
		</div>
		<div id="wrapper">	
			<div id="counter">
				<div class="part">
				<p class="name"> روز </p>
					<div class="number">
						<span class="l1"></span>
					 	<span class="l2"></span>
					  	<span class="l3"></span>
					  	<span class="l4"></span>
						<div id="day"></div>
					</div>
				</div>
				<div class="part">
				<p class="name"> ساعت </p>
					<div class="number">
						<span class="l1"></span>
					 	<span class="l2"></span>
					  	<span class="l3"></span>
					  	<span class="l4"></span>
						<div id="hours"></div>
					</div>
				</div>
				<div class="part">
					<p class="name"> دقیقه </p>
					<div class="number">
						<span class="l1"></span>
					 	<span class="l2"></span>
					  	<span class="l3"></span>
					  	<span class="l4"></span>
						<div id="mins"></div>
					</div>
				</div>
				<div class="part">
				<p class="name"> ثانیه </p>
					<div class="number">
						<span class="l1"></span>
					 	<span class="l2"></span>
					  	<span class="l3"></span>
					  	<span class="l4"></span>
						<div id="secs"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="secondpage">
		<div id="finishedsection" dir="rtl">
			<section id="finished_pro">
				<header id="finished_header"></header>
				<table dir="rtl">
				{% for project in finished_projects %}
				  <tr>
				    <td>{{ project.subject }}</td>
				    <td>
				    	{% if project.download_file %}
				    		<a href="" class="downlink">download</a>
				    	{% endif %}
				    	{{ project.discription }}
				    </td>
				    <td class="date">{{ project.due_date }}</td>
				  </tr>
				{% endfor %}
				</table>
			</section>
		</div>
	</div>
	<div id="thirdpage">
		{% if deactive %}
		<div class="discription2" dir="rtl">این پروژه شخصی است یا نیاز بیشتری به همکاری ندارد. با سپاس از علاقه شما</div>
		{% else %}
			<div class="discription2" dir="rtl">
				<p dir="rtl">این یک متن است<br />اگر مایل به همکاری در آخرین پروژه هستید یا حتی اطلاعات بیشتری درباره آن بدانید فقط کافی است یک پیام بگذارید</p>
			</div>
			<div id="form" dir="rtl">
				<form method="POST" action="{{ url_for('projects') }}">
			    	{{ form.csrf_token }}<br />
			  		{{ form.name.label }} &nbsp&nbsp&nbsp
			  		{{ form.name }}<br /><br />
					{{ form.phoneNumber.label }}&nbsp&nbsp&nbsp{{ form.phoneNumber }}<br /> <br />
					{{ form.email.label }}&nbsp&nbsp&nbsp{{ form.email }}<br /><br /><br />
					{{ form.more.label }}&nbsp&nbsp&nbsp{{ form.more }}
					<br /><br /><br />
					{{ form.ways.label }}&nbsp&nbsp&nbsp
					{{ form.ways }}
					<p>
			            <input type="submit" value="مایلم درباره این پروژه بیشتر بدانم">
			        </p>
			        	</form>
			</div>
		{% endif %}
	</div>
	</article>
</section>
</body>
<script type="text/javascript" src='{{ url_for('static', filename='js/projectscript.js')}}'></script>
{% for project in last_project %}
	<script type="text/javascript">
		var target_date = new Date("{{ project.due_date }}").getTime();
	</script>
{% endfor %}
<script type="text/javascript" src="{{ url_for('static', filename='js/vlog.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ferro.ferroMenu-1.0.min.js') }}" type="text/javascript"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#nav").ferroMenu({
				position 	: "right-bottom",
				delay 		: 50,
			});
		});
	</script>
</html>