<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=NO">
	<meta charset="UTF-8" />
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.ferro.ferroMenu.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/specificpost.css') }}" />
	<style type="text/css">
		@font-face { 
			font-family: "sample";
			src: url("{{ url_for('static', filename='fonts/sample.ttf') }}") format("truetype");
		}
	</style>
</head>
<section id='container'>
				<ul id="nav">
				<li><a href="{{ url_for('about') }}"><i class="fa fa-user"></i></a></li>
				<li><a href="{{ url_for('projects') }}"><i class="fa fa-rocket"></i></a></li>
				<li><a href="{{ url_for('vlog') }}"><i class="fa fa-video-camera"></i></a></li>
				<li><a href="{{ url_for('blog') }}"><i class="fa fa-pencil"></i></a></li>
				</ul>
	<div id='subcontainer' dir="rtl">
    {% for post in posts %}
		<header>
			<h1 lang="fa">{{ post.header }}</h1>
			<h3 lang="fa">{{ post.date }}</h3>
			{%if latest_post.postid == post.postid %}
				<h4 lang="fa"> new </h4>
			{%endif%}
		</header>
		<article id='mainshit' dir="rtl" lang="fa">

        <p lang="fa">{{ post.body|safe }}</p>
        {% if 'logged_in' in session %}
        	<a href="{{ url_for('deleteposts', postid = post.postid ) }}" class="cd-read-more"> پاک کردن</a>
        {% endif %}
{#        <p id="salutation">دیدگاه</p>#}
{#        {% for comment in comments %}#}
{#            <p>{{ comment.name }}</p>#}
{#        {% endfor %}#}
		</article>
		<div id="comments">
			<aside>
				<input class="toggle-box" id="header1" type="checkbox" >
				<label for="header1" lang="fa">برای مشاهده دیدگاه ها کلیلک کنید:</label>
				<div>
        <form method="POST" action="{{ url_for('viewpost', post_number=post.postid) }}">
            {{ form.csrf_token }}
            <p>
            	<hr >
            	<br />
                {{ form.name(placeholder="نام") }}
                <br />
                {{ form.email(placeholder="ایمیل") }}
                <br />
                {{ form.comment(placeholder="نظر") }}
                <br />
                {{ form.recaptcha }}
                <br />
                <input type="submit" value="ثبت نظر" id="submit" lang="fa">
            </p>
            <hr >
        </form>

            {% endfor %}
            <ul>
            <li>
            {% for comment in comments %}
                <p lang="fa">نظری از : {{ comment.name }}</p>
                <p lang="fa"> {{ comment.comment}}</p>
            {% endfor %}
            </li>
            </ul>
                </div>
			</aside>
		</div>
	</div>
	{% for post in posts%}
		{% if post.postid+1 <= latest_post.postid %}
			<a href="{{ url_for('viewpost', post_number=post.postid+1) }}" id="next"><img src="{{ url_for('static', filename='img/next.png') }}"></a>
		{% endif %}
		{% if post.postid-1 >= 1 %}
			<a href="{{ url_for('viewpost', post_number=post.postid-1) }}" id="previous"><img src="{{ url_for('static', filename='img/previous.png') }}"></a>
		{% endif %}
	{% endfor %}
</section>
</body>
<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ferro.ferroMenu-1.0.min.js') }}" type="text/javascript"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#nav").ferroMenu({
				position 	: "right-bottom",
				delay 		: 50,
				drag      : false,
			});
		});
	</script>
</html>