<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=NO">
	<meta charset='UTF-8' />
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vlog.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.ferro.ferroMenu.css') }}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<title> ولاگ محمد گلی </title>
</head>
<body>
	<ul id="nav">
        <li><a href="{{ url_for('about') }}"><i class="fa fa-user"></i></a></li>
        <li><a href="{{ url_for('projects') }}"><i class="fa fa-rocket"></i></a></li>
        <li><a href="{{ url_for('vlog') }}"><i class="fa fa-video-camera"></i></a></li>
        <li><a href="{{ url_for('blog') }}"><i class="fa fa-pencil"></i></a></li>
        </ul>
	<section>
		<div id='firstpage'>
			<div id="discription" dir="rtl">
				<img src="{{ url_for('static', filename='img/video2.png') }}" id="videoicon" />
				<p>
				 به قسمت ویدیو ها خوش آمدید <br />
				 ویدیو بلاگ یا ولاگ همان بلاگ است به صورت تصویری <br />
				</p>
			</div>
		</div>
		<div id="secondpage">
<!-- 			<iframe src="http://www.aparat.com/video/video/embed/videohash/oUnV2/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe> -->
			<div id="videocontainer">
				<video controls>
					<source src="test.mp4" type="video/mp4">
				</video>
			</div>
		</div>
		<div id="thirdpage">
			<div id="header">
				<header>
					<h1> ویدیو ها </h1>
				</header>
			</div>
			<div id="allvideos" dir="rtl">
 {%block content%}
 {%endblock%}
			</div>
		</div>
	</section>
<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/blog.js') }}"></script> <!-- Resource jQuery -->
<script src="{{ url_for('static', filename='js/jquery.ferro.ferroMenu-1.0.min.js') }}" type="text/javascript">
</script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#nav").ferroMenu({
				position 	: "right-bottom",
				delay 		: 50,
			});
		});
	</script>
</body>
</html>